@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Khumbh-Sans", sans-serif;
  background-color: hsl(185, 75%, 39%);
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: -800px -528px, 112px 340px;
  font-size: 14px;
  /* sass */
  display: grid;
  justify-content: center;
  align-content: center;
}

/* style for card component */
.card {
  margin: 0 auto;
  width: 325px;
  height: 375px;
  border-radius: 12px;
  background-color: white;
  color: hsl(227, 10%, 46%);
  box-shadow: 0 0 4px rgb(200, 200, 200);
  /* sass */
  display: grid;
  justify-content: center;
  align-content: space-between;
}

.profile {
  padding-bottom: 24px;
  height: 295px;
  background: url("images/bg-pattern-card.svg") no-repeat;
  border-radius: 12px 12px 0 0;
  text-align: center;
  position: relative;
  display: grid;
  align-content: flex-end;
}
.profile img {
  border: 6px solid white;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  justify-self: center;
}
.info {
  margin-bottom: 10px;
  font-size: 18px;
}
.age {
  margin-left: 10px;
}

.details {
  padding: 0 30px;
  width: inherit;
  height: 88px;
  border-top: 1px solid hsl(0, 0%, 59%);
  /* sass */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  text-align: center;
  row-gap: 6px;
}

.box span {
  display: block;
}

.name,
.num {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

@media screen and (min-width: 500px) {
  body {
    background-position: -300px -500px, 600px 370px;
  }
  .card {
    width: 348px;
  }
}

footer {
  margin: 10px 0;
  font-size: 12px;
  position: absolute;
  justify-self: center;
  align-self: flex-end;
}
